<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Network Utility{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="menu">
    <div class="menu-toggle" id="menuToggle">&#9776;</div>
    <div class="menu-content" id="menuContent">
      <a href="{{ url_for('switches') }}">Switchar</a>
      <a href="{{ url_for('stats') }}">Statistik</a>
      <a href="#" id="settings">Inställningar</a>
      <hr>
      <a href="{{ url_for('users') }}">Users</a>
      <a href="{{ url_for('groups') }}">Groups</a>
      <a href="{{ url_for('permissions') }}">Permissions</a>
      <hr>
      <a href="{{ url_for('about') }}">Om</a>
      <a href="{{ url_for('logout') }}">Logga ut</a>
    </div>
  </div>

<div class="content">
  {% block content %}{% endblock %}
</div>

  {% include "settings_modal.html" %}

  <script src="{{ url_for('static', filename='menu.js') }}"></script>
  {% block scripts %}{% endblock %}
  <div id="settingsModal" class="modal">
    <div class="modal-content">
      <h3 id="settingsModalTitle">Inställningar</h3>
      <div id="settingsModalBody"></div>
      <div class="modal-footer">
        <button id="settingsOkBtn">OK</button>
        <button id="cancelBtn">Avbryt</button>
      </div>
    </div>
  </div>
  <div id="rowModal" class="modal">
    <div class="modal-content">
      <h3 id="rowModalTitle">Redigera</h3>
      <div id="rowModalBody"></div>
        <div class="modal-buttons split">
          <div class="left-buttons">
            <button id="rowDeleteBtn" class="delete-button">Radera</button>
          </div>
          <div class="right-buttons">
            <button id="rowCancelBtn" class="cancel-button">Avbryt</button>
            <button id="rowSaveBtn" class="save-button">Spara</button>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
