{% extends "layout.html" %}

{% block content %}
  <div class="header">
    <h2>Switch:</h2>
    <input type="text" id="search" placeholder="Skriv switchnamn..." />
    <button id="fetchButton">Hämta portinfo</button>
  </div>
  <div id="container"></div>
<div id="switches">
  <!-- Dummy switch visas innan riktig data finns -->
  <div class="switch dummy" id="dummySwitch">
    <div class="switch-title">switch ...</div>
    <div class="port-container">
      <div class="port-group" style="background-color:   #707b7c ;"></div>
      <div class="port-group" style="background-color:   #707b7c ;"></div>
      <div class="port-group" style="background-color:   #707b7c ;"></div>
      <div class="port-group" style="background-color:   #707b7c ;"></div>
      <div class="uplink-group" style="background-color:  #707b7c ;"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='switch.js') }}"></script>
{% endblock %}
