{% extends "layout.html" %}

{% block content %}
  <h2>{{ title }}</h2>
  <table id="dataTable" class="display">
<thead>
  <tr>
    {% for col in columns %}
      {% if col.data == "name" %}
        <th>{{ col.title }}</th>
      {% else %}
        <th class="right-align">{{ col.title }}</th>
      {% endif %}
    {% endfor %}
  </tr>
</thead>
    <tbody>
  {% for row in data %}
    <tr>
      {% for col in columns %}
        {% if col.data == "name" %}
          <td>{{ row[col.data] }}</td>
        {% else %}
          <td class="right-align">{{ row[col.data] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</tbody>
  </table>
{% endblock %}

{% block scripts %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable({
        responsive: true,
        language: {
          search: "Sök:",
          lengthMenu: "Visa _MENU_ rader",
          info: "Visar _START_ till _END_ av _TOTAL_ rader",
          paginate: {
            first: "Första",
            last: "Sista",
            next: "Nästa",
            previous: "Föregående"
          }
        }
      });
    });
  </script>
{% endblock %}
